:root{
    --dark-green: #132a13ff;
    --hunter-green: #31572cff;
    --fern-green: #4f772dff;
    --moss-green: #90a955ff;
    --mindaro: #ecf39eff;
}

body{
    background-color: #F4F2F0;
}
.added{
    text-decoration:line-through;
}
.add2cart{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #FF9800;
    border: transparent;
}