<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <title>Vue To Do List</title>
</head>
<body>

    <div id="app">
        <header class="d-flex justify-content-center align-items-center">
            <div class="box-logo d-flex justify-content-center align-items-center p-3">
                <img class="w-100" src="./img/logo-market.png" alt="">
            </div>
            <div class="input-box d-flex justify-content-center w-50">
                <input class="w-100" type="text" name="ingredient" id="ingredient" v-model ="newIngredient" @keyup.enter="newItem" placeholder="Add an ingredient manually (example: 'pineapple')">
                <button id="add-manual" @click="newItem">Add</button>
            </div>
        </header>
        <div class="container my-5 d-flex flex-column justify-content-center align-items-center">   
            <h3>Most popular</h3>
            <div class="row" v-if="listaSpesa.length > 0">
                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2 d-flex flex-wrap g-4" v-for="(ingredient, index) in listaSpesa">
                    <div class="card w-100">
                        <div class="card-image p-2">
                            <img :src="listaSpesa[index].image" :alt="listaSpesa.name" class="w-100">
                        </div>
                        <div class="card-body d-flex flex-column p-2">
                            <span :class="{'added': listaSpesa[index].completed}" class="fw-semibold text-uppercase">{{ingredient.name}}</span>
                            <div class="d-flex justify-content-between align-items-center">
                                <span :class="{'added': listaSpesa[index].completed}">{{ingredient.price}}&euro;</span>
                                <button @click="complete(index)" class="add2cart" :class="{'d-none': listaSpesa[index].completed}"><i class="fa-solid fa-cart-shopping text-white"></i></button>
                                <span class="text-opacity-50" v-if="listaSpesa[index].completed">Added</span>
                              </div>
                        </div>    
                    </div>
                </div>
            </div>

        <div id="your-cart" class="container my-5 d-flex flex-column justify-content-center align-items-center">
            <div class="row w-100">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="text-center">Your Cart</h3>
                        </div>
                        <div class="card-body">
                            <div v-if="cart.length > 0" class="box-list d-flex flex-column">
                                <ul class="list-unstyled d-flex flex-wrap">
                                    <li v-for="(cart, index) in cart" class="text-uppercase ms-2">
                                        <div>
                                            <span class="badge text-black">{{cart.name}}<button @click="deleteList(index)" class="bg-transparent border-0"><span class="text-danger fs-5 d-flex align-content-center">x</span></button></span>   
                                        </div>
                                    </li>
                                </ul>
                                <hr class="container">
                            </div>
                            <ul v-if="cart.length > 0" class="total list-unstyled">
                                <li><h5>Total:</h5></li>
                                <li>{{totalPrice}}&euro;</li>
                            </ul>
                            <h5 v-else class="text-center">The list is empty</h5>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/utility.js"></script>
    <script src="./js/script.js"></script>

</body>
</html>